<audio ng-src="{{ 'inicio.ogg' | translateAudio }}" autoplay="autoplay"></audio>
<audio src="assets/sounds/introduccion.ogg" autoplay="autoplay"></audio>
<div ng-if="!mostrandoVideo">
    <div class="view font-cs inicio-club">

        <!-- Haces de luz tipo discoteca -->
        <div class="club-luces" aria-hidden="true">
            <span class="haz haz-1"></span>
            <span class="haz haz-2"></span>
            <span class="haz haz-3"></span>
            <span class="haz haz-4"></span>
        </div>

        <!-- Bola de espejos -->
        <div class="club-bola" aria-hidden="true"></div>

        <!-- Piso / pista de baile con brillo -->
        <div class="club-piso" aria-hidden="true"></div>

        <div class="club-contenido centrar">
            <div class="club-marca">FROSCH</div>

            <div class="comenzar-club">
                {{'COMENZAR' | translate}}
            </div>

            <div class="presione-club">
                {{"PRESIONE" | translate}}
                <!-- <br><strong class="club-resalte">{{"INICIAR" | translate}}</strong> -->
            </div>

            <button class="inicio inicio-btn-club" ng-click="iniciar()">{{"INICIAR" | translate}}</button>
        </div>
    </div>
</div>
<div ng-if="mostrandoVideo">
    <videogular vg-auto-play="true" vg-complete="quitarVideo()">
        <vg-media vg-src="videos[numVideo]"></vg-media>
    </videogular>
</div>
